---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HDX COD AB Geocoder" description="Browser-only geocoder for COD administrative boundaries.">
  <main>
    <h1>HDX COD AB Geocoder</h1>
  </main>
</Layout>
